{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true, // src
    "node": true // mock
  },
  "globals": {
    // src
    "__DEV__": false,
    "__PROD__": false,
    // mock
    "ROUTER": false,
    "Random": false
  },
  "extends": "standard",
  "plugins": [
    "html" // required to lint *.vue files
  ],
  "rules": {
    "no-trailing-spaces": 0
  }
}
